#editor_page { height: 100%; }
#editor_page #editor_form { height: 100%; }

#editor_page .title-wrapper { border-bottom: 0; padding: 0 5px; }
#editor_page .title-wrapper input {
    font-size: 40px;
    font-weight: bold;
    height: 60px;
    letter-spacing: -1px;
}

#editor_page .editor-section {
    background: #fff;
    border-top: #f6f6f6 1px solid;
    bottom: 50px;
    padding: 15px;
    position: absolute;
    top: 115px;
    width: 50%;
}

#editor_page .editor-section.entry-markdown { left: 0; }
#editor_page .editor-section.entry-preview { border-left: #f6f6f6 1px solid; right: 0; }
#editor_page .editor-section .floating-header .header-title { float: left; }
#editor_page .entry-markdown .editor-content #the_editor { display: none; }
#editor_page .entry-markdown .editor-content .CodeMirror {
    bottom: 0;
    color: #3c4043;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

#editor_page .entry-markdown .editor-content .CodeMirror .CodeMirror-lines { padding: 55px 0 40px; }
#editor_page .entry-markdown .editor-content .CodeMirror pre {
    font-family: Inconsolata, monospace;
    font-size: 1.6rem;
    padding: 0 40px;
}

#editor_page .entry-preview .floating-header .word-count { float: right; }
#editor_page .entry-preview .entry-preview-content {
    -moz-hyphens: auto;
    -moz-user-select: none;
    -ms-hyphens: auto;
    -ms-user-select: none;
    -webkit-hyphens: auto;
    -webkit-user-select: none;
    bottom: 0;
    cursor: default;
    font-size: 1.8rem;
    hyphens: auto;
    left: 0;
    line-height: 1.5em;
    overflow: auto;
    padding: 50px 40px 40px;
    position: absolute;
    right: 0;
    top: 0;
    user-select: none;
    word-wrap: break-word;
    word-break: normal;
}

/*#editor_page #rendered_markdown .embedded-javascript,*/
/*#editor_page #rendered_markdown .embedded-iframe {*/
    /*background: #f9f9f9;*/
    /*border: none;*/
    /*font-size: 16px;*/
    /*font-weight: bold;*/
    /*margin: 15px 0;*/
    /*padding: 80px 20px;*/
    /*text-align: center;*/
/*}*/

#editor_page .rendered-markdown img { border: 0; max-width: 100%; }

#editor_page .rendered-markdown code { white-space: normal; }
#editor_page .rendered-markdown em { font-family: 'Noto Serif', serif; font-size: 16px; }

#editor_page .editor-publish-bar {
    -webkit-transform: translateZ(0);
    background: transparent;
    bottom: 0;
    height: 50px;
    left: 0;
    padding: 0;
    position: fixed;
    right: 0;
    transform: translateZ(0);
    z-index: 900;
    /* temporary */
    border-top: 1px solid #eeeeee;
}

#editor_page .editor-publish-bar .container-fluid { height: 50px; position: relative; }
#editor_page .editor-publish-bar .container-fluid .tag-controls {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 240px;
}

#editor_page .editor-publish-bar .tag-controls .icon {
    font-size: 18px;
    left: 15px;
    position: absolute;
    top: 13px;
}

#editor_page .editor-publish-bar .tag-controls tag-input {
    position: relative;
    top: 0;
    bottom: 0;
    left: 35px;
    right: 0;
}

#editor_page .editor-publish-bar .editor-controls {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 4px 10px;
}

#editor_page .editor-publish-bar .btn-group .btn:first-child { width: 136px; }

/* Editor Sidebar */
#editor_page .editor-sidebar {
    background-color: #fafafa;
    border-left: 1px solid rgba(0,0,0,0.15);
    bottom: 0;
    outline: none;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10000;
}

#editor_page .editor-sidebar .editor-sidebar-content {
    -khtml-opacity: .66;
    -moz-opacity: .66;
    -moz-transform: translateX(0px);
    -moz-transition: -moz-transform 200ms,opacity 200ms;
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    -o-transition: -o-transform 200ms,opacity 200ms;
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translateX(0px);
    -webkit-transition: -webkit-transform 200ms,opacity 200ms;
    display: none;
    filter: alpha(opacity=66);
    height: 100%;
    opacity: .66;
    overflow: auto;
    padding: 15px;
    transform: translateX(0px);
    transition: transform 200ms, opacity 200ms;
    width: 320px;
}

#editor_page .editor-sidebar .editor-sidebar-content.active {
    -khtml-opacity: 1;
    -moz-opacity: 1;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    -webkit-transform: none;
    display: block;
    filter: alpha(opacity=100);
    opacity: 1;
    transform: none;
    width: 320px;
}

#editor_page .editor-sidebar .sidebar-header { text-align: center; }
#editor_page .editor-sidebar .sidebar-header .close-sidebar { color: #cccccc; }
#editor_page .editor-sidebar .sidebar-header h3 { color: #333332; font-size: 22px; font-weight: 400; }

#editor_page .editor-sidebar .sidebar-controls label { font-size: 16px; }
#editor_page .editor-sidebar .sidebar-controls .form-control { background-color: #fafafa; color: #333332; }

/* Tag Input Directive */
tag-input .tags-wrapper {
    -moz-transition: width 0.2s linear;
    -webkit-overflow-scrolling: touch;
    -webkit-transition: width 0.2s linear;
    display: inline-block;
    height: 50px;
    max-width: 100%;
    overflow: hidden;
    padding: 10px 15px;
    position: static;
    transition: width 0.2s linear;
    vertical-align: top;
    white-space: nowrap;
}

tag-input .tags-wrapper span.tag {
    background-color: #cccccc;
    color: #777777;
    font-size: 14px;
    margin-right: 5px;
    padding: 3px 2px 3px 7px;
}

tag-input .tags-wrapper span.tag .remove-tag { color: #777777; margin-left: 5px; }
tag-input .tags-wrapper .post-tags-input { display: inline-block; }

tag-input .tags-wrapper .tag-suggestions {
    bottom: 20px;
    position: absolute;
    right: 0;
    top: auto;
    left: auto;
}

tag-input .tags-wrapper .tag-suggestions .dropdown-menu {
    bottom: 0;
    right: 0;
    top: auto;
    left: auto;
}
