#editor_page {}
#editor_page .page-content { position: relative; height: 100%; }
#editor_page .page-content .page-header { height: 55px; padding: 0; position: relative; }
#editor_page .page-content .page-header input.form-control {
    border: 0;
    font-size: 28px;
    height: 54px;
    padding-right: 220px;
}

#editor_page .page-content .page-header .editor-controls {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    padding: 9px 16px;
}

#editor_page .page-content .page-header .editor-controls .sidebar-toggler .fa { margin: 0; }
#editor_page .page-content .page-header .editor-controls .btn-group #split_button { width: 120px; }

#editor_page .page-content .editor {
    position: absolute;
    top: 55px;
    right: 0;
    left: 0;
    bottom: 0;
}

#editor_page .page-content .editor .window {
    bottom: 0;
    position: absolute;
    top: 0;
    width: 50%;
}

#editor_page .page-content .editor .window .floating-header {
    background-color: rgba(255,255,255,.9);
    height: 40px;
    padding: 10px 20px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100
}

#editor_page .page-content .editor .window .floating-header span {
    color: rgba(35, 31, 32, 0.5);
    font-size: 12px;
    text-transform:uppercase;
}

#editor_page .page-content .editor .window .floating-header span i { margin-right: 3px; }

#editor_page .page-content .editor .window.markdown-editor { border-right: 1px solid #e4e4e4; left: 0; }
#editor_page .markdown-editor .editor-wrapper {}
#editor_page .markdown-editor .editor-wrapper .CodeMirror {
    bottom: 0;
    color: #3c4043;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

#editor_page .markdown-editor .editor-wrapper .CodeMirror .CodeMirror-lines { padding: 55px 0 40px; }
#editor_page .markdown-editor .editor-wrapper .CodeMirror pre {
    font-family: Inconsolata, monospace;
    font-size: 1.6rem;
    padding: 0 40px;
}

#editor_page .page-content .editor .window.markdown-preview { right: 0; }
#editor_page .markdown-preview .floating-header .word-counter { float: right; }
#editor_page .markdown-preview .preview-wrapper {
    -moz-hyphens: auto;
    -moz-user-select: none;
    -ms-hyphens: auto;
    -ms-user-select: none;
    -webkit-hyphens: auto;
    -webkit-user-select: none;
    bottom: 0;
    cursor: default;
    font-size: 1.8rem;
    hyphens: auto;
    left: 0;
    line-height: 1.5em;
    overflow: auto;
    padding: 0 40px 0;
    position: absolute;
    right: 0;
    top: 0;
    user-select: none;
    word-wrap: break-word;
    word-break: normal;
}

#editor_page .markdown-preview .preview-wrapper .rendered-markdown { padding: 50px 0 40px; }