<div id="editor_page" ng-controller="EditorController as ec">
    <section class="page-content">
        <form ng-submit="ec.savePost()">
            <header class="page-header clearfix">
                <input type="text" ng-model="ec.post.title" post-id="ec.post.id"
                slug="ec.post.slug" placeholder="Title"
                class="form-control input-lg input-post-slug"/>
                <editor-publish-buttons ng-model="ec.post.status"></editor-publish-buttons>
            </header>
            <div class="editor">
                <section class="markdown-editor window">
                    <header class="floating-header">
                        <span class="title">Markdown</span>
                    </header>
                    <section class="editor-wrapper editor-scroll">
                        <ui-codemirror ng-model="ec.post.markdown"
                        ui-codemirror-opts="ec.options.codemirror"></ui-codemirror>
                    </section>
                </section>
                <section class="markdown-preview window">
                    <header class="floating-header">
                        <span class="title">Preview</span>
                        <span class="word-counter">{{ec.options.counter}} words</span>
                    </header>
                    <section class="preview-wrapper">
                        <div journal-markdown="ec.post.markdown" hide-script-iframe="true"
                        counter="ec.options.counter" class="rendered-markdown"></div>
                    </section>
                </section>
            </div>
        </form>
    </section>
</div>