#editor_tags { position: relative; }
#editor_tags .tags-wrapper {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 1px;
    padding: 6px 12px 0;
}

#editor_tags .post-tags { display: inline-block; list-style: none; margin: 0; padding: 0; }
#editor_tags .post-tags li { display: inline-block; margin: 0 5px 8px 0; }
#editor_tags .post-tags li a {
    background-color: #3187e1;
    border-radius: 2px;
    color: #ffffff;
    line-height: 1;
    padding: 4px 8px;
    text-decoration: none;
}

#editor_tags .post-tags li.for-removal a { background-color: #BD362F; }

#editor_tags .input-tag { display: inline-block; margin-bottom: 6px; width: 90px; }
#editor_tags .input-tag .form-control {
    border: 0;
    height: 24px;
    padding: 0;
}
