<div id="featured_image">
    <label class="control-label">Featured Image</label>
    <div class="wrapper">
        <section class="image-wrapper" ng-if="fid.imageUrl">
            <a ng-click="fid.removeImage()" class="btn btn-danger btn-sm remove-image">
                <i class="fa fa-trash-o"></i>
            </a>
            <img ng-src="{{fid.imageUrl}}"/>
        </section>
        <section class="uploader" ng-if="!fid.imageUrl">
            <div class="option file" ng-class="{'active' : fid.activeOption == 'file' && !fid.imageUrl}">
                <div ngf-drop ngf-select ng-model="fid.image.file" class="drop-box"
                 ngf-drag-over-class="dragover" ngf-multiple="true" ngf-allow-dir="true"
                 accept="image/*">
                    <span class="add-image-text">Add Image</span>
                </div>
                <!-- Progress bar goes in here -->
                <progressbar value="fid.upload.percentage" type="success" ng-if="fid.upload.percentage">
                    <b>{{fid.upload.percentage}}%</b>
                </progressbar>
            </div>
            <div class="option link" ng-class="{'active' : fid.activeOption == 'link' && !fid.imageUrl}">
                <input type="text" ng-model="fid.image.link" class="form-control"
                placeholder="http://" ng-blur="fid.getImageLink()"/>
                <span class="add-image-text">Add Image</span>
            </div>
            <a class="switch-option" ng-if="!fid.imageUrl" ng-click="fid.switchOption()">
                <i class="fa" ng-class="{'fa-link' : fid.activeOption == 'file', 'fa-image' : fid.activeOption == 'link'}"></i>
            </a>
        </section>
    </div>
</div>
