#settings_page {}
#settings_page .page-header { margin: 30px auto 20px; width: 50%; }
#settings_page .page-header .hero-title { margin: 0; }

#settings_page .content { margin: auto; width: 50%; }

#settings_page .content .blog-settings .image-wrapper { padding: 10px 0; }
#settings_page .content .blog-settings .image-wrapper img {
    border: 0;
    cursor: pointer;
    height: auto;
    max-width: 100%;
}
