/* OSX Browser Issues fix */
html {
    height: 100%;
    overflow: hidden;
}

body {
    height: 100%;
    overflow: auto;
}

/* Sidebar */
.main-content {
    height: 100%;
    margin-left: 0;
    position: relative;
    transition: all 0.4s ease 0s;
}

.open-sidebar {
    .main-content {
        margin-left: 220px;
    }
}

.close-sidebar {
    .main-content {
        margin-left: 50px;
    }
}

.page-header {
    background-color: $primary-bg-color;
    border-bottom: 1px solid $border-color;
    margin: 0;
    padding: 11px 25px;
}

.page-header {
    h1.page-title {
        color: $text;
        float: left;
        font-size: 24px;
        line-height: 1;
        margin: 6px 0;
    }

    .back {
        color: $subtext;
        float: left;
        line-height: 36px;
        margin-right: 15px;
        text-decoration: none;
        text-transform: uppercase;

        i.fa {
            margin-right: 5px;
        }
    }

    .options {
        float: right;

        i.fa {
            font-size: 24px;
            line-height: 36px;
        }
    }

    .options.btn {
        i.fa {
            font-size: inherit;
            line-height: 1;
        }
    }
}

.page-content {
    margin-left: 220px;
}

.full-height {
    height: 100%;
}

.auto-height {
    height: auto;
}

.scrollable-content {
    bottom: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    right: 0;
    top: 59px;
}

.centered-content {
    background-color: $primary-bg-color;
    border: 1px solid $border-color;
    border-radius: $border-radius;
    margin: 40px auto;
    padding: 14px 20px;
    position: relative;
    width: 60%;
}

/* Markdown */
.rendered-markdown {
    img {
        display: block;
        height: auto;
        margin: 0 auto;
        max-width: 100%;
    }

    code {
        white-space: normal;
    }

    em {
        font-family: $italic-font;
    }
}

/* Alerts */
.alert { color: #ffffff; }
.alert.alert-danger { background-color: #dc6e53; border-color: #dc6e53;}
.alert.alert-success { background-color: #67c295; border-color: #67c295; }
.alert.alert-info { background-color: #63a7d1; border-color: #63a7d1; }
.alert.alert-warning { background-color: #f3a343; border-color: #f3a343; }

ul.alert { list-style: none; }
.alert {
    p { margin: 0; }
}

/* Dropdown */
.dropdown-menu {
    border-color: $border-color;
    border-radius: $border-radius;
}

/* Selectize JS */
.selectize-input {
    border-color: $border-color;
    border-radius: $border-radius;
}

.selectize-control.multi {
    .selectize-input {
        div {
            padding: 1px 5px;
        }
    }
}

/* Vue JS */
[v-cloak] { display: none }

 /* Button Loader Directive */
 .button-loader {
     i.fa {
         display:none;
         margin-right: 5px;
     }
 }

.button-loader.processing {
    i.fa {
        display: inline-block;
    }
}

// Editor Fullscreen
body.editor-fullscreen {
    .main-content {
        margin-left: 0;
    }

    #sidebar {
        .content {
            left: -100%;
        }
    }

    #editor_page {
        .editor {
            top: 0;
        }
    }
}

// Modal
.modal-content {
    border-radius: $border-radius;

    .modal-header {
        border-color: $border-color;
    }

    .modal-footer {
        @extend .modal-header;
    }
}
