/* OSX Browser Issues fix */
html { overflow: hidden; height: 100%; }
body { height: 100%; overflow: auto; }

/* Sidebar */
.main-content { height: 100%; margin-left: 0; position: relative; }
.sidebar .main-content { margin-left: 220px; }

.page-header {
    background-color: $primary-bg-color;
    border-bottom: 1px solid $border-color;
    margin: 0;
    padding: 11px 25px;
}

.page-header {
    h1.page-title {
        color: $text;
        float: left;
        font-size: 24px;
        line-height: 1;
        margin: 6px 0;
    }

    .options {
        float: right;

        i.fa {
            font-size: 24px;
            line-height: 36px;
        }
    }

    // .btn.btn-default {
    //     float: right;
    // }

    // .btn.primary {
    //     @extend .btn.btn-default;
    // }

    // .btn {
    //     i.fa { margin-right: 3px; }
    // }
}

.page-content { margin-left: 220px; }

.full-height { height: 100%; }
.auto-height { height: auto; }

.scrollable-content {
    bottom: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    right: 0;
    top: 55px;
}

/* Markdown */
.rendered-markdown {
    img {
        display: block;
        height: auto;
        margin: 0 auto;
        max-width: 100%;
    }

    code { white-space: normal; }

    em { font-family: $italic-font; }
}

/* Alerts */
.alert { color: #ffffff; }
.alert.alert-danger { background-color: #dc6e53; border-color: #dc6e53;}
.alert.alert-success { background-color: #67c295; border-color: #67c295; }
.alert.alert-info { background-color: #63a7d1; border-color: #63a7d1; }
.alert.alert-warning { background-color: #f3a343; border-color: #f3a343; }

ul.alert { list-style: none; }
.alert {
    p { margin: 0; }
}

/* Vue JS */
 [v-cloak] { display: none }
