.form-group { margin-bottom: 20px; }

.form-group {
    .help-block { font-style: italic; }
    .help-block.error { font-style: none; }
}

.input-group-addon {
    background-color: $secondary-bg-color;
    border-color: $border-color;
    border-radius: $default-border-radius;
    border-width: 1px;
}

.input-group-addon {
    .fa {
        color: $hyperlink;
    }
}

.form-control {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border-color: $border-color;
    border-radius: $default-border-radius;
    border-width: 1px;
    box-shadow: none;
    color: $text;
    height: 36px;
}

.form-control:focus { @extend .form-control; }
