.form-horizontal {
    .form-group {
        margin-left: 0;
        margin-right: 0;
    }

    .control-label {
        text-align: left;
    }

    div[class*="col-"],
    label[class*="col-"] {
        padding-left: 0;
        padding-right: 0;
    }
}

.form-group {
    border-bottom: 1px solid $border-color;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.form-group {
    .help-block { color: $subtext; }
    .help-block.error { font-style: none; }
}

.input-group-addon {
    background-color: $secondary-bg-color;
    border-color: $border-color;
    border-radius: $border-radius;
    border-width: 1px;
}

.input-group-addon {
    .fa {
        color: $subtext;
    }
}

.form-control {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border-color: $border-color;
    border-radius: $border-radius;
    border-width: 1px;
    box-shadow: none;
    color: $text;
    height: 36px;
}

.form-control:focus { @extend .form-control; }
