html, body { height: 100%; }

body {
    background-color: $secondary-bg-color;
    color: $text;
    font-family: $default-font;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.02em;
    overflow-x: hidden;
    position: relative;
}

h1, h2, h3, h4, h5, h6 { color: $text; }

a { color: $hyperlink; cursor: pointer; }
