#posts_list_page {
    height: 100%;
    position: relative;
}

#posts_list_page {
    .post-lists {
        border-right: 1px solid $border-color;
        bottom: 0;
        left: 0;
        position: absolute;
        top: 59px;
        width: 30%;
    }

    .post-lists {
        .post-lists-header {
            background-color: $primary-bg-color;
            border-bottom: 1px solid $border-color;
            left: 0;
            padding: 10px 5px;
            position: absolute;
            right: 0;
            top: 0;
            z-index: 100;
        }

        .lists-wrapper {
            bottom: 0;
            left: 0;
            overflow: auto;
            padding-top: 57px;
            position: absolute;
            right: 0;
            top: 0;
        }

        .lists-wrapper {
            .no-posts {
                padding: 5px 15px;
                text-align: center;
            }
        }

        .post {
            .hyperlink {
                background-color: $primary-bg-color;
                border-bottom: 1px solid $border-color;
                border-left: 3px solid $primary-bg-color;
                display: block;
                padding: 10px 15px;
                text-decoration: none;
                width: 100%;
            }

            .hyperlink:hover {
                background-color: $primary-bg-color;
                border-left: 3px solid $border-color;
                cursor: pointer;
            }

            .hyperlink {
                .post-title {
                    color: $text;
                    font-size: 18px;
                    font-weight: normal;
                    line-height: 24px;
                    margin: 0 0 5px;
                }

                .post-meta { color: $subtext; }
            }
        }

        .post.active {
            .hyperlink {
                background-color: $primary-bg-color;
                border-left: 3px solid $text;
            }
        }
    }

    .post-preview {
        bottom: 0;
        position: absolute;
        right: 0;
        top: 59px;
        width: 70%;
    }

    .post-preview {
        .preview-header {
            background-color: $primary-bg-color;
            border-bottom: 1px solid $border-color;
            left: 15px;
            padding: 14px 0;
            position: absolute;
            right: 15px;
            top: 0;
            z-index: 100;
        }

        .preview-header {
            .post-meta { color: $subtext; float: left; padding: 4px 0; }
            .post-controls { float: right; }
            .post-controls {
                .control-lists {
                    list-style: none;
                    margin: 0;
                    padding: 0;
                }

                .control-lists {
                    li {
                        display: inline-block;
                    }

                    li {
                        a {
                            color: $text;
                            font-size: 20px;
                            text-indent: 30px;
                            //color: $color-success;
                        }

                        //.preview-post {
                        //    @extend .edit-post;
                        //    color: $color-warning;
                        //}
                        //
                        //.delete-post {
                        //    @extend .edit-post;
                        //    color: $color-danger;
                        //}
                    }
                }
            }
        }

        .preview-content {
            background-color: $primary-bg-color;
            bottom: 0;
            font-size: 1.6rem;
            left: 0;
            line-height: 1.5em;
            overflow: auto;
            padding: 70px 15px 40px;
            position: absolute;
            right: 0;
            top: 0;
        }

        .no-post {
            padding: 60px 20px;
            text-align: center;
        }

        .no-post {
            a {
                i { margin-left: 3px; }
            }
        }
    }
}
