#posts_list_page {
    height: 100%;
    position: relative;
}

#posts_list_page {
    .post-lists {
        bottom: 0;
        border-right: 1px solid #dddddd;
        left: 0;
        position: absolute;
        top: 55px;
        width: 30%;
    }

    .post-lists {
        .post-lists-header {
            border-bottom: 1px solid #e4e4e4;
            padding: 10px 5px;
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            background-color: rgba(246, 247, 247, .9);
            z-index: 100;
        }

        .lists-wrapper {
            overflow: auto;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            padding-top: 57px;
            border-radius: 5px;
        }

        .lists-wrapper {
            .no-posts {
                padding: 5px 15px;
                text-align: center;
            }
        }

        .post {
            .hyperlink {
                background-color: #fafafa;
                border-bottom: 1px solid #e4e4e4;
                border-left: 3px solid #fafafa;
                display: block;
                padding: 10px 15px;
                text-decoration: none;
                width: 100%;
            }

            .hyperlink:hover {
                border-left: 3px solid #f2f2f2;
                background-color: #f2f2f2;
                cursor: pointer;
            }

            .hyperlink {
                .post-title {
                    color: #231f20;
                    font-size: 18px;
                    font-weight: normal;
                    line-height: 24px;
                    margin: 0 0 5px;
                }

                .post-meta { color: #827f80; }
            }
        }

        .post.active {
            .hyperlink {
                border-left: 3px solid #3187e1;
            }
        }
    }

    .post-preview {
        bottom: 0;
        overflow-y: auto;
        position: absolute;
        right: 0;
        top: 55px;
        width: 70%;
    }

    .post-preview {
        .preview-header { padding: 5px 10px; }
        .preview-header {
            .post-meta { color: #827f80; float: left; padding: 4px 0; }
            .post-controls { float: right; }
            .post-controls {
                .control-lists {
                    list-style: none;
                    margin: 0;
                    padding: 0;
                }

                .control-lists {
                    li {
                        display: inline-block;
                    }

                    li {
                        a {
                            i { margin-right: 3px; }
                        }
                    }
                }
            }
        }

        .preview-content {
            font-size: 1.6rem;
            line-height: 1.5em;
            padding: 40px;
        }

        .no-post {
            padding: 60px 20px;
            text-align: center;
        }

        .no-post {
            a {
                i { margin-left: 3px; }
            }
        }
    }
}
