/* New color schemes for the buttons */
.btn.btn-primary { border-color: #529ecc; background: #529ecc; }
.btn.btn-danger { background-color: #BD362F; border-color: #BD362F;}
.btn.btn-success { background-color: #51A351; border-color: #51A351; }
.btn.btn-info { background-color: #2F96B4; border-color: #2F96B4; }
.btn.btn-warning { background-color: #F89406; border-color: #F89406; }

.btn { border-radius: 2px; padding: 7px 12px; }
.btn.btn-sm { padding: 4px 12px; }

/* Override Ladda */
.ladda-button { font-size: inherit; }
