html, body { height: 100%; }
body {
    background-color: #ffffff;
    color: #231f20;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.02em;
    overflow-x: hidden;
    position: relative;
}

a { color: #3187e1; }

.page-content { margin: 0 auto; }