/* Google Font */
/*@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
@import url(http://fonts.googleapis.com/css?family=Noto+Serif:400,400italic);*/

/* Initial styling */
body {
    background-color: #ffffff;
    color: rgba(0,0,0,0.8);
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.02em;
    overflow-x: hidden;
}

body, html { height: 100%; }
h1, h2, h3, h4, h5, h6 {
    color: #242628;
    font-weight: 700;
    line-height: 1.15em;
    margin: 0 0 20px 0;
    text-rendering: optimizeLegibility;
}

h1 { font-size: 5.0rem; letter-spacing: -2px; text-indent: -3px; }
h2 { font-size: 4.0rem; letter-spacing: -1px; }
h3 { font-size: 3.2rem; }
h4 { font-size: 2.6rem; }
h5 { font-size: 2.0rem; }
h6 { font-size: 1.8rem; }

a { cursor: pointer; -webkit-transition: color ease .3s; outline: none; transition: color ease .3s; }
a:hover, a:active, a:focus { outline: none; text-decoration: none; }

textarea, input, select { border: 0; }

.main-container { background: #fff; height: 100%; padding: 55px 0 0; }
.hero-title {
    color: rgba(0, 0, 0, 0.8);
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -0.04em;
    line-height: 1;
    margin: 0 0 30px;
    outline: 0;
    word-break: break-all;
}

/* GLOBAL */
/* ng-scope height fix */
.ng-scope { height: 100%; }
.auto-height { height: auto; }

.floating-header {
    background: rgba(255, 255, 255, .8);
    color: #aaa9a2;
    font-size: 12px;
    height: 40px;
    left: 0;
    padding: 10px 20px;
    position: absolute;
    right: 0;
    text-transform: uppercase;
    top: 0;
    z-index: 400;
}

/* Form Utilities */
.form-action { margin-top: 20px; padding-bottom: 20px; text-align: center; }
.form-group {
    border-bottom: 1px solid #f6f6f6;
    margin-bottom: 25px;
    padding-bottom: 15px;
}

label.control-label { font-size: 18px; margin: 0; }

.form-control { color: rgba(0,0,0,0.8); font-size: 16px; height: 30px; padding: 0; }
.form-control, .form-control:focus {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border-color: transparent;
    border-radius: 0;
    box-shadow: none;
}

.form-control.input-lg {
    font-size: 32px;
    font-weight: bold;
    height: 46px;
    line-height: 1.33;
}

.form-group.has-error .form-control {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border-color: transparent;
    box-shadow: none;
}

/* Buttons */
.btn { border-radius: 20px; padding: 10px 20px; }
.btn.btn-default { color: rgba(0,0,0,0.6); }
.btn.btn-sm { border-radius: 15px; padding: 5px 15px; }
.btn.btn-xs { border-radius: 10px; padding: 1px 8px; }

.page-header { border-bottom: 0; margin: 30px auto 20px; }

/* Modal */
.modal-backdrop.in { background-color: rgba(255,255,255,1); filter: alpha(opacity=90); opacity: .9; }
.modal-dialog { margin: 80px auto; }
.modal-content {
    border: 0;
    border-radius: 3px;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0);
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0);
}

/* Toastr CSS Override */
#toast-container { top: 60px; }
#toast-container .toast { width: 350px; }

@media only screen and (max-width : 768px) {
    .hero-title { font-size: 40px; }

    #toast-container { left: 0; right: 0; top: 0; }
    #toast-container .toast {
        -moz-box-shadow: 0 0 0 #999999;
        -webkit-box-shadow: 0 0 0 #999999;
        box-shadow: 0 0 0 #999999;
        border-radius: 0;
        margin-bottom: 0;
        width: 100%;
    }
}

/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
/*@media only screen and (min-width : 320px) {*/

/*}*/

/*/!* Extra Small Devices, Phones *!/*/
/*@media only screen and (min-width : 480px) {*/

/*}*/

/*/!* Small Devices, Tablets *!/*/


/*/!* Medium Devices, Desktops *!/*/
/*@media only screen and (min-width : 992px) {*/

/*}*/

/*/!* Large Devices, Wide Screens *!/*/
/*@media only screen and (min-width : 1200px) {*/
    /**/
/*}*/

#delete_post_modal {}
#delete_post_modal .modal-body { text-align: center; }
#delete_post_modal .modal-body .hero-title { font-size: 42px; }
#delete_post_modal .modal-body p { font-size: 16px; padding: 10px 0 15px; }
#delete_post_modal .modal-body p .post-title { font-weight: bold; }
#delete_post_modal .modal-footer { border-top: 0; text-align: center; }

#editor_page { height: 100%; }
#editor_page #editor_form { height: 100%; }

#editor_page .title-wrapper { border-bottom: 0; padding: 0 5px; }
#editor_page .title-wrapper input {
    font-size: 40px;
    font-weight: bold;
    height: 60px;
    letter-spacing: -1px;
}

#editor_page .editor-section {
    background: #fff;
    border-top: #f6f6f6 1px solid;
    bottom: 50px;
    padding: 15px;
    position: absolute;
    top: 115px;
    width: 50%;
}

#editor_page .mobile-editor-nav { display: none; }

#editor_page .editor-section.entry-markdown { left: 0; }
#editor_page .editor-section.entry-preview { border-left: #f6f6f6 1px solid; right: 0; }

#editor_page .editor-section .floating-header .header-title { float: left; }
#editor_page .floating-header .word-count { float: right; }

#editor_page .entry-markdown .editor-content #the_editor { display: none; }
#editor_page .entry-markdown .editor-content .CodeMirror {
    bottom: 0;
    color: #3c4043;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

#editor_page .entry-markdown .editor-content .CodeMirror .CodeMirror-lines { padding: 55px 0 40px; }
#editor_page .entry-markdown .editor-content .CodeMirror pre {
    font-family: Inconsolata, monospace;
    font-size: 1.6rem;
    padding: 0 40px;
}

#editor_page .entry-preview .entry-preview-content {
    -moz-hyphens: auto;
    -moz-user-select: none;
    -ms-hyphens: auto;
    -ms-user-select: none;
    -webkit-hyphens: auto;
    -webkit-user-select: none;
    bottom: 0;
    cursor: default;
    font-size: 1.8rem;
    hyphens: auto;
    left: 0;
    line-height: 1.5em;
    overflow: auto;
    padding: 0 40px 0;
    position: absolute;
    right: 0;
    top: 0;
    user-select: none;
    word-wrap: break-word;
    word-break: normal;
}

#editor_page .rendered-markdown { padding: 50px 0 40px; }
#editor_page .rendered-markdown img {
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

#editor_page .rendered-markdown .embedded-javascript,
#editor_page .rendered-markdown .embedded-iframe {
    background: #f9f9f9;
    border: none;
    font-size: 16px;
    font-weight: bold;
    margin: 15px 0;
    padding: 80px 20px;
    text-align: center;
}

#editor_page .rendered-markdown code { white-space: normal; }
#editor_page .rendered-markdown em { font-family: 'Noto Serif', serif; font-size: 16px; }
#editor_page .rendered-markdown p { margin-bottom: 20px; }

#editor_page .editor-publish-bar {
    -webkit-transform: translateZ(0);
    background: transparent;
    bottom: 0;
    height: 50px;
    left: 0;
    padding: 0;
    position: fixed;
    right: 0;
    transform: translateZ(0);
    z-index: 900;
    /* temporary */
    border-top: 1px solid #eeeeee;
}

#editor_page .editor-publish-bar .container-fluid { height: 50px; position: relative; }
#editor_page .editor-publish-bar .container-fluid .tag-controls {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 240px;
}

#editor_page .editor-publish-bar .tag-controls .icon {
    font-size: 18px;
    left: 15px;
    position: absolute;
    top: 13px;
}

#editor_page .editor-publish-bar .tag-controls tag-input {
    position: relative;
    top: 0;
    bottom: 0;
    left: 35px;
    right: 0;
}

#editor_page .editor-publish-bar .editor-controls {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 4px 10px;
}

#editor_page .editor-publish-bar .btn-group .btn:first-child { width: 136px; }

/* Editor Sidebar */
#editor_page .overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
    background: transparent;
    display: none;
}

#editor_page .overlay.active { display: block; }

#editor_page .editor-sidebar {
    background-color: #fafafa;
    border-left: 1px solid rgba(0,0,0,0.15);
    bottom: 0;
    outline: none;
    position: fixed;
    right: -100%;
    top: 0;
    transition: all 0.4s ease 0s;
    z-index: 1030;
}

#editor_page .editor-sidebar.active { right: 0; }

#editor_page .editor-sidebar .editor-sidebar-content {
    height: 100%;
    overflow: auto;
    padding: 15px;
    width: 320px;
}

#editor_page .editor-sidebar .editor-sidebar-content {}

#editor_page .editor-sidebar .sidebar-header { margin-bottom: 10px; }
#editor_page .editor-sidebar .sidebar-header .close-sidebar { color: #cccccc; }
#editor_page .editor-sidebar .sidebar-header h3 { color: #333332; font-size: 24px; font-weight: 400; }

#editor_page .editor-sidebar .sidebar-controls .form-group {
    border-bottom: 0;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

#editor_page .editor-sidebar .sidebar-controls label { font-size: 16px; }
#editor_page .editor-sidebar .sidebar-controls .form-control { background-color: #fafafa; color: #333332; }
#editor_page .editor-sidebar .sidebar-controls .danger-zone { padding-top: 20px; }
#editor_page .editor-sidebar .sidebar-controls .danger-zone .help-block { color: #a94442; text-align: center; }

/* Tag Input Directive */
tag-input .tags-wrapper {
    -moz-transition: width 0.2s linear;
    -webkit-overflow-scrolling: touch;
    -webkit-transition: width 0.2s linear;
    display: inline-block;
    height: 50px;
    max-width: 100%;
    overflow: hidden;
    padding: 10px 15px;
    position: static;
    transition: width 0.2s linear;
    vertical-align: top;
    white-space: nowrap;
}

tag-input .tags-wrapper span.tag {
    background-color: #cccccc;
    color: #777777;
    font-size: 14px;
    margin-right: 5px;
    padding: 3px 2px 3px 7px;
}

tag-input .tags-wrapper span.tag .remove-tag { color: #777777; margin-left: 5px; }
tag-input .tags-wrapper .post-tags-input { display: inline-block; }

tag-input .tags-wrapper .tag-suggestions {
    bottom: 20px;
    position: absolute;
    right: 0;
    top: auto;
    left: auto;
}

tag-input .tags-wrapper .tag-suggestions .dropdown-menu {
    bottom: 0;
    right: 0;
    top: auto;
    left: auto;
}

@media only screen and (max-width: 768px) {
    #editor_page .mobile-editor-nav {
        display: block;
        left: 0;
        position: relative;
        right: 0;
        top: -24px;
    }

    #editor_page .mobile-editor-nav .floating-header { width: 50%; }
    #editor_page .mobile-editor-nav .floating-header:hover { color: #ffffff; }
    #editor_page .mobile-editor-nav .floating-header.active:hover { color: #aaa9a2; }

    #editor_page .mobile-editor-nav .floating-header.markdown { right: 50%; }
    #editor_page .mobile-editor-nav .floating-header.preview { left: 50%; }

    #editor_page .mobile-editor-nav .floating-header { background-color: #aaa9a2; color: #fff; }
    #editor_page .mobile-editor-nav .floating-header.active {
        background: rgba(255,255,255,.8);
        color: #aaa9a2;
    }

    #editor_page .editor-section { display: none; }
    #editor_page .editor-section .floating-header { display:none; }

    #editor_page .editor-section.active {
        display: block;
        left: 0;
        right: 0;
        width: 100%;
    }
}

@media only screen and (max-width : 480px) {
    #editor_page .editor-sidebar .editor-sidebar-content { width: 100%; }
}

#featured_image { margin-bottom: 20px; }
#featured_image .control-label { margin-bottom: 5px; }
#featured_image .wrapper {
    background: #f6f7f8;
    border-radius: 4px;
    color: #808284;
    position: relative;
    text-align: center;
}

#featured_image .wrapper .image-wrapper { position: relative; min-height: 130px; }
#featured_image .image-wrapper .remove-image { position: absolute; right: 5px; top: 5px;  }
#featured_image .image-wrapper img { display: block; width: 100%; }

#featured_image .wrapper .uploader {
    display: table;
    min-height: 130px;
    position: relative;
    width: 100%;
}

#featured_image .wrapper .uploader .option { display: none; padding: 0; }
#featured_image .wrapper .uploader .option.active { display: table-cell; vertical-align: middle; }

#featured_image .wrapper .uploader .option.file .add-image-text { cursor: pointer; }

#featured_image .wrapper .uploader .option.link { padding: 0 15px; }
#featured_image .wrapper .uploader .option.link .form-control { font-size: 14px; }

#featured_image .wrapper .uploader .switch-option {
    bottom: 5px;
    color: #808284;
    font-size: 18px;
    height: auto;
    position: absolute;
    left: 5px;
}

#featured_image .wrapper .uploader .add-image-text {
    color: #808284;
    display: block;
    font-size: 16px;
    margin: 10px 0;
}

/* Header */
#header { background-color: rgba(255, 255, 255, 0.95); box-shadow: 0 1px 2px rgba(0,0,0,0.05); }
#header .navbar-brand { font-size: 20px; font-weight: 700; }
#header .navbar-toggle { display: none; }
#header .page-header-title {
    color: #333332;
    display: none;
    font-size: 20px;
    line-height: 20px;
    margin: 0;
    padding: 15px;
}

#header .navbar-collapse .nav li a { font-size: 14px; }
#header .navbar-collapse .nav.site-directory li a {
    border-bottom: 2px solid #fff;
    padding: 15px 10px 13px;
}

#header .navbar-collapse .nav.site-directory li.active a {
    background: none;
    border-bottom: 2px rgba(0,0,0,0.8) solid;
}

#header .navbar-collapse .navbar-nav li.add-actions a i.fa { margin-right: 5px; }

#login_page {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0;
}

#login_page .wrapper {
    max-width: 560px;
    height: 100%;
    margin: 0 auto;
    padding: 100px 0 0;
    display: table;
}

#login_page .wrapper form {
    display: table-cell;
    margin: auto;
    width: 300px;
    vertical-align: top;
}

#login_page .wrapper form .hero-title { text-align: center; }
#login_page .wrapper form .form-group { border-bottom: 0; padding: 0; }

#post_lists_page .page-header { border-bottom: 0; margin: 0; padding: 10px 20px 0 20px; }
#post_lists_page .page-header .hero-title { float: left; }
#post_lists_page .page-header .btn {  }
#post_lists_page .content-wrapper {
    -webkit-overflow-scrolling: touch;
    background: #fff;
    border-top: 1px solid #f6f6f6;
    bottom: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    right: 0;
    top: 120px;
}
#post_lists_page .content-wrapper .list-of-posts {
    background: #fff;
    border-right: #f6f6f6 1px solid;
    bottom: 0;
    left: 0;
    padding: 15px;
    position: absolute;
    top: 0;
    width: 33%;
}
.list-of-posts .post-lists-stream {
    bottom: 0;
    left: 0;
    overflow: auto;
    padding-top: 40px;
    position: absolute;
    right: 0;
    top: 0;
}
.list-of-posts .post-lists-stream .post-wrapper { margin: 0; padding: 0; position: relative; }
.list-of-posts .post-lists-stream .post-wrapper.active {
    background: #f6f6f7;
    box-shadow: #e8eaeb 0 0 0,rgba(0,0,0,0.06) 7px 0 0 inset,#e8eaeb 1px 0 0 inset;
}

.post-lists-stream .post-wrapper .post-hyperlink { display: block; padding: 10px 20px; }
.post-lists-stream .post-wrapper .post-hyperlink .post-title {
    color: rgba(0,0,0,0.8);
    font-size: 18px;
    font-weight: normal;
    line-height: 24px;
    margin: 0 0 5px;
}
#post_lists_page .content-wrapper .post-preview-wrapper {
    background: #fff;
    bottom: 0;
    padding: 15px;
    position: absolute;
    right: 0;
    top: 0;
    width: 67%;
}
.post-preview-wrapper .post-wrapper { display: block; }
/*.post-preview-wrapper .post-wrapper.active { display: block; }*/
.post-preview-wrapper .post-wrapper .floating-header { text-transform: none; }
.post-preview-wrapper .post-wrapper .floating-header .header-title { float: left; }
.post-preview-wrapper .post-wrapper .floating-header .back-button { display: none; }
.post-preview-wrapper .post-wrapper .floating-header .post-controls { float: right; }
.post-preview-wrapper .post-wrapper .floating-header .post-controls .dropdown a { color: #aaa9a2; font-size: 18px; }
.post-preview-wrapper .post-wrapper .floating-header .post-controls .dropdown ul li a {
    color: #333;
    font-size: 14px;
}
.post-preview-wrapper .post-wrapper .preview-wrapper {
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    bottom: 0;
    hyphens: auto;
    left: 0;
    overflow: auto;
    padding: 60px 7%;
    position: absolute;
    right: 0;
    top: 0;
    word-wrap: break-word;
    word-break: normal;
}
.post-preview-wrapper .post-wrapper .preview-wrapper .rendered-markdown {
    font-size: 1.8rem;
    line-height: 1.5em;
}
.post-preview-wrapper .post-wrapper .preview-wrapper .rendered-markdown img {
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}
.post-preview-wrapper .post-wrapper .preview-wrapper .rendered-markdown code { white-space: normal; }
.post-preview-wrapper .post-wrapper .preview-wrapper .rendered-markdown em { font-family: 'Noto Serif', serif; font-size: 16px; }
.post-preview-wrapper .post-wrapper .preview-wrapper .rendered-markdown p { margin-bottom: 20px; }

@media only screen and (max-width : 768px) {
    #post_lists_page .content-wrapper .list-of-posts {
        left: -100%;
        right: 100%;
        transition: all 0.4s ease 0s;
        width: 100%;
    }

    #post_lists_page .content-wrapper .list-of-posts.active { left: 0; right: 0; }

    #post_lists_page .content-wrapper .post-preview-wrapper {
        left: 100%;
        right: -100%;
        transition: all 0.4s ease 0s;
        width: 100%;
    }

    #post_lists_page .content-wrapper .post-preview-wrapper.active {
        left: 0;
        right: 0;
    }

    .post-preview-wrapper .post-wrapper .floating-header .back-button { display: inline-block; margin-right: 5px; }
}

#services_page {}
#services_page .page-header { margin: 30px auto 20px; width: 50%; }
#services_page .page-header .hero-title { margin: 0; }

#services_page .content { margin: auto; width: 50%; }

@media only screen and (max-width : 768px) {
    #services_page .page-header,
    #services_page .content { width: 80%; }
}

@media only screen and (max-width : 480px) {
    #services_page .page-header,
    #services_page .content { width: 90%; }
}

#settings_page {}
#settings_page .page-header { margin: 30px auto 20px; width: 50%; }
#settings_page .page-header .hero-title { margin: 0; }

#settings_page .content { margin: auto; width: 50%; }

#settings_page .content .blog-settings .image-wrapper { padding: 10px 0; }
#settings_page .content .blog-settings .image-wrapper img {
    border: 0;
    cursor: pointer;
    height: auto;
    max-width: 100%;
}

@media only screen and (max-width : 768px) {
    #settings_page .page-header,
    #settings_page .content { width: 80%; }
}

@media only screen and (max-width : 480px) {
    #settings_page .page-header,
    #settings_page .content { width: 90%; }
}

#settings_modal .upload-wrapper {
    background: #f6f7f8;
    border-radius: 4px;
    color: #808284;
    text-align: center;
}

#settings_modal .image-wrapper { position: relative; }
#settings_modal .image-wrapper .remove-image { position: absolute; top: 5px; right: 5px; }
#settings_modal .image-wrapper img { max-width: 100%; }

#settings_modal .upload-wrapper { position: relative; }
#settings_modal .upload-wrapper .switch-option {
    bottom: 5px;
    color: #808284;
    font-size: 18px;
    height: auto;
    position: absolute;
    left: 5px;
}

#settings_modal .upload-wrapper .option { display: none; padding: 80px 50px; }
#settings_modal .upload-wrapper .option.active { display: block; }
#settings_modal .upload-wrapper .option .add-image-text {
    color: #808284;
    display: block;
    font-size: 16px;
    margin: 10px 0;
}

#settings_modal .upload-wrapper .via-file .drop-box { cursor: pointer; }

.sidebar-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
    background: rgba(255,255,255,.5);
    display: none;
}

.sidebar-overlay.open { display: block; }

#sidebar {
    background-color: #f6f6f7;
    position: fixed;
    bottom: 0;
    top: 0;
    left: -100%;
    z-index: 1050;
    transition: all 0.4s ease 0s;
    width: 250px;
}

#sidebar.open { left: 0; }

#sidebar .content { padding: 10px; }
#sidebar .content .blog-details { padding: 0 10px 10px; }
#sidebar .content .blog-details .brand {
    font-size: 22px;
    letter-spacing: -1px;
    padding: 10px 0;
    margin: 0;
}

#sidebar .content .blog-details .blog-title {
    color: #333;
    display: block;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: -1px;
    margin: 0 0 10px;
    text-transform: uppercase;
}

#sidebar .content .blog-details .dropdown { padding: 0; }
#sidebar .content .blog-details .dropdown a.dropdown-toggle { color: #333; display: block; }
#sidebar .content .blog-details .dropdown a.dropdown-toggle .caret { float: right; }
#sidebar .content .blog-details .dropdown .dropdown-menu { width: 100%; }

#sidebar .content .site-directory { list-style: none; margin: 0; padding: 0; }
#sidebar .content .site-directory li { padding: 3px 15px; }
#sidebar .content .site-directory li.divider {
    color: #999999;
    font-size: 13px;
    font-weight: bold;
    padding: 10px 10px 5px;
    text-transform: uppercase;
}

#sidebar .content .site-directory li a { color: #333; }
#sidebar .content .site-directory li a i.fa { margin-right: 5px; }

#user_create_page {}
#user_create_page .page-header { margin: 30px auto 20px; width: 50%; }
#user_create_page .page-header .hero-title { margin: 0; }

#user_create_page .content { margin: auto; width: 50%; }

@media only screen and (max-width : 768px) {
    #user_create_page .page-header,
    #user_create_page .content { width: 80%; }
}

@media only screen and (max-width: 480px) {
    #user_create_page .page-header,
    #user_create_page .content { width: 90%; }
}

#user_list_page {}
#user_list_page .page-header { margin: 30px auto 20px; width: 50%; }
#user_list_page .page-header .hero-title { margin: 0; }

#user_list_page .content { margin: auto; width: 50%; }
#user_list_page .user-details { border-bottom: #f6f6f6 1px solid; padding: 10px 0; }
#user_list_page .user-details .user-hyperlink { display: block; min-height: 120px; position: relative; }
#user_list_page .user-details .user-hyperlink .avatar-wrapper { float: left; }
#user_list_page .user-details .user-hyperlink .avatar-wrapper .avatar {
    border-radius: 50%;
    border: 3px solid #dddddd;
    height: 120px;
    object-fit: cover;
    width: 120px;
}

#user_list_page .user-details .user-hyperlink .user-content { padding: 10px 0 0 140px; word-wrap: break-word; }
#user_list_page .user-details .user-hyperlink .user-content .user-name {
    color: rgba(0,0,0,0.8);
    font-size: 20px;
    font-weight: normal;
    line-height: 24px;
    margin: 0 0 5px;
}

#user_list_page .user-details .user-hyperlink .user-content .last-login {
    font-family: 'Noto Serif', serif;
    font-size: 14px;
    font-style: italic;
}

#user_list_page .user-details .user-hyperlink .role { float: right; }

@media only screen and (max-width : 768px) {
    #user_list_page .page-header,
    #user_list_page .content { width: 80%; }
}

@media only screen and (max-width: 480px) {
    #user_list_page .page-header,
    #user_list_page .content { width: 90%; }

    #user_list_page .user-details .user-hyperlink .avatar-wrapper .avatar { height: 100px; width: 100px; }
    #user_list_page .user-details .user-hyperlink .user-content { padding: 10px 0 0 120px; }
}

#user_profile_page.main-container { padding-top: 0; }

#user_profile_page .display { display: block; font-size: 16px; padding: 10px 0 0; }
#user_profile_page .display .fa { color: #555555; font-size: 18px; margin-right: 5px; }

#user_profile_page .form-control,
#user_profile_page .help-block,
#user_profile_page .form-action { display: none; }

#user_profile_page.active .display { display: none; }
#user_profile_page.active .form-control,
#user_profile_page.active .help-block,
#user_profile_page.active .form-action{ display: block; }

#user_profile_page .profile-header {
    width: auto;
    height: 400px;
    margin: 0;
    background: #fafafa no-repeat center center;
    background-size: cover;
    overflow: hidden;
}

#user_profile_page .profile-header .profile-nav {
    position: absolute;
    top: 65px;
    right: 0;
    left: 0;
    padding: 0 15px;
}

#user_profile_page .profile-header .profile-nav a.btn {}
#user_profile_page .profile-header .profile-nav .back-to-users { float: left; }
#user_profile_page .profile-header .profile-nav .change-cover { display: none; float: right; }

#user_profile_page.active .profile-header .profile-nav .change-cover { display: inline-block; }

#user_profile_page .profile-header .profile-nav a.btn .fa { margin-right: 5px; }

#user_profile_page .profile-content {
    margin: auto;
    padding-top: 40px;
    position: relative;
    width: 40%;
}

#user_profile_page .profile-content .avatar-wrapper {
    border: 3px solid #ddd;
    border-radius: 50%;
    cursor: pointer;
    height: 150px;
    left: 50%;
    margin-left: -75px;
    overflow: hidden;
    position: absolute;
    top: -78px;
    width: 150px;
}

#user_profile_page .profile-content .avatar-wrapper .avatar {
    display: block;
    object-fit: cover;
    width: 100%;
}

#user_profile_page .profile-content .avatar-wrapper .overlay {
    background: rgba(0,0,0,.6);
    border-radius: 50%;
    bottom: 0;
    left: 0;
    opacity:0;
    padding: 60px 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    transition:opacity 0.3s linear;
}

#user_profile_page .profile-content .avatar-wrapper .text { color: #fff; }
#user_profile_page.active .profile-content .avatar-wrapper:hover .overlay { opacity:1; }

#user_profile_page .profile-content .user-profile-form { padding-top: 40px; }
#user_profile_page .profile-content .name {
    border-bottom: none;
    margin-bottom: 5px;
    padding-bottom: 0;
}

#user_profile_page .profile-content .name input,
#user_profile_page .profile-content .name h1 {
    font-size: 40px;
    font-weight: bold;
    height: 60px;
    letter-spacing: -1px;
    padding-top: 0;
    text-align: center;
}

#user_profile_page .profile-content .biography {
    border-bottom: none;
    margin-bottom: 15px;
    padding-bottom: 0;
}

#user_profile_page .profile-content .biography textarea { resize: none; text-align: center; }

@media only screen and (max-width : 768px) {
    #user_profile_page .profile-content { width: 75%; }
}

@media only screen and (max-width : 480px) {
    #user_profile_page .profile-content { width: 90%; }
}

.btn-loader p { margin: 0; }
.btn-loader i.fa { display: none;}
.btn-loader.btn-loading p { display: none; }
.btn-loader.btn-loading i.fa { display: inline-block; }

#uploader_modal .upload-wrapper {
    background: #f6f7f8;
    border-radius: 4px;
    color: #808284;
    text-align: center;
}

#uploader_modal .image-wrapper { position: relative; }
#uploader_modal .image-wrapper .remove-image { position: absolute; top: 5px; right: 5px; }
#uploader_modal .image-wrapper img { max-width: 100%; }

#uploader_modal .upload-wrapper { position: relative; }
#uploader_modal .upload-wrapper .switch-option {
    bottom: 5px;
    color: #808284;
    font-size: 18px;
    height: auto;
    position: absolute;
    left: 5px;
}

#uploader_modal .upload-wrapper .option { display: none; padding: 80px 50px; }
#uploader_modal .upload-wrapper .option.active { display: block; }
#uploader_modal .upload-wrapper .option .add-image-text {
    color: #808284;
    display: block;
    font-size: 16px;
    margin: 10px 0;
}

#uploader_modal .upload-wrapper .via-file .drop-box { cursor: pointer; }
