#users_list_page {
    .users-list {
        .wrapper {
            .user {
                a {
                    display: block;
                    text-decoration: none;

                    .avatar-wrapper {
                        float: left;
                        height: 80px;
                        width: 80px;

                        img {
                            border-radius: 50%;
                            display: block;
                            height: 100%;
                            object-fit: cover;
                            width: 100%;
                        }
                    }

                    .user-details {
                        margin-left: 90px;
                    
                        h3.user-name {
                            font-size: 20px;
                            margin: 0;
                        }

                        p {
                            color: $subtext;
                        }
                    }
                }
            }
        }
    }
}
