#login_page {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0;
}

#login_page .wrapper {
    max-width: 560px;
    height: 100%;
    margin: 0 auto;
    padding: 100px 0 0;
    display: table;
}

#login_page .wrapper form {
    display: table-cell;
    margin: auto;
    width: 300px;
    vertical-align: top;
}

#login_page .wrapper form .hero-title { text-align: center; }
#login_page .wrapper form .form-group { border-bottom: 0; padding: 0; }
