#user_list_page {}
#user_list_page .page-header { margin: 30px auto 20px; width: 50%; }
#user_list_page .page-header .hero-title { margin: 0; }

#user_list_page .content { margin: auto; width: 50%; }
#user_list_page .user-details { border-bottom: #f6f6f6 1px solid; padding: 10px 0; }
#user_list_page .user-details .user-hyperlink { display: block; min-height: 120px; position: relative; }
#user_list_page .user-details .user-hyperlink .avatar-wrapper { position: absolute; }
#user_list_page .user-details .user-hyperlink .avatar-wrapper .avatar {
    position: relative;
    width: 120px;
    height: 120px;
    padding-bottom: 30%;
    margin: 1.66% auto;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    border: 3px solid #ddd;
}

#user_list_page .user-details .user-hyperlink .user-content { padding: 10px 0 0 140px; word-wrap: break-word; }
#user_list_page .user-details .user-hyperlink .user-content .user-name {
    color: rgba(0,0,0,0.8);
    font-size: 20px;
    font-weight: normal;
    line-height: 24px;
    margin: 0 0 5px;
}

#user_list_page .user-details .user-hyperlink .user-content .last-login {
    font-family: 'Noto Serif', serif;
    font-size: 14px;
    font-style: italic;
}

#user_list_page .user-details .user-hyperlink .role { float: right; }

@media only screen and (max-width : 768px) {
    #user_list_page .page-header,
    #user_list_page .content { width: 80%; }
}

@media only screen and (max-width: 480px) {
    #user_list_page .page-header,
    #user_list_page .content { width: 90%; }

    #user_list_page .user-details .user-hyperlink .avatar-wrapper .avatar { height: 100px; width: 100px; }
    #user_list_page .user-details .user-hyperlink .user-content { padding: 10px 0 0 120px; }
}
