/* Google Font */
/*@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
@import url(http://fonts.googleapis.com/css?family=Noto+Serif:400,400italic);*/

/* Initial styling */
body {
    background-color: #ffffff;
    color: rgba(0,0,0,0.8);
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.02em;
    overflow-x: hidden;
}

body, html { height: 100%; }
h1, h2, h3, h4, h5, h6 {
    color: #242628;
    font-weight: 700;
    line-height: 1.15em;
    margin: 0 0 20px 0;
    text-rendering: optimizeLegibility;
}

h1 { font-size: 5.0rem; letter-spacing: -2px; text-indent: -3px; }
h2 { font-size: 4.0rem; letter-spacing: -1px; }
h3 { font-size: 3.2rem; }
h4 { font-size: 2.6rem; }
h5 { font-size: 2.0rem; }
h6 { font-size: 1.8rem; }

a { cursor: pointer; -webkit-transition: color ease .3s; outline: none; transition: color ease .3s; }
a:hover, a:active, a:focus { outline: none; text-decoration: none; }

textarea, input, select { border: 0; }

.main-container { background: #fff; height: 100%; padding: 55px 0 0; }
.hero-title {
    color: rgba(0, 0, 0, 0.8);
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -0.04em;
    line-height: 1;
    margin: 0 0 30px;
    outline: 0;
    word-break: break-all;
}

/* GLOBAL */
/* ng-scope height fix */
.ng-scope { height: 100%; }
.auto-height { height: auto; }

.floating-header {
    background: rgba(255, 255, 255, .8);
    color: #aaa9a2;
    font-size: 12px;
    height: 40px;
    left: 0;
    padding: 10px 20px;
    position: absolute;
    right: 0;
    text-transform: uppercase;
    top: 0;
    z-index: 400;
}

/* Form Utilities */
.form-action { margin-top: 20px; padding-bottom: 20px; text-align: center; }
.form-group {
    border-bottom: 1px solid #f6f6f6;
    margin-bottom: 25px;
    padding-bottom: 15px;
}

label.control-label { font-size: 18px; margin: 0; }

.form-control { color: rgba(0,0,0,0.8); font-size: 16px; height: 30px; padding: 0; }
.form-control, .form-control:focus {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border-color: transparent;
    border-radius: 0;
    box-shadow: none;
}

.form-control.input-lg {
    font-size: 32px;
    font-weight: bold;
    height: 46px;
    line-height: 1.33;
}

.form-group.has-error .form-control {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border-color: transparent;
    box-shadow: none;
}

/* Buttons */
.btn { border-radius: 20px; padding: 10px 20px; }
.btn.btn-default { color: rgba(0,0,0,0.6); }
.btn.btn-sm { border-radius: 15px; padding: 5px 15px; }
.btn.btn-xs { border-radius: 10px; padding: 1px 8px; }

.page-header { border-bottom: 0; margin: 30px auto 20px; }

/* Modal */
.modal-backdrop.in { background-color: rgba(255,255,255,1); filter: alpha(opacity=90); opacity: .9; }
.modal-dialog { margin: 80px auto; }
.modal-content {
    border: 0;
    border-radius: 3px;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0);
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0);
}

/* Toastr CSS Override */
#toast-container { top: 60px; }
#toast-container .toast { width: 350px; }

@media only screen and (max-width : 768px) {
    .hero-title { font-size: 40px; }

    #toast-container { left: 0; right: 0; top: 0; }
    #toast-container .toast {
        -moz-box-shadow: 0 0 0 #999999;
        -webkit-box-shadow: 0 0 0 #999999;
        box-shadow: 0 0 0 #999999;
        border-radius: 0;
        margin-bottom: 0;
        width: 100%;
    }
}

/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
/*@media only screen and (min-width : 320px) {*/

/*}*/

/*/!* Extra Small Devices, Phones *!/*/
/*@media only screen and (min-width : 480px) {*/

/*}*/

/*/!* Small Devices, Tablets *!/*/


/*/!* Medium Devices, Desktops *!/*/
/*@media only screen and (min-width : 992px) {*/

/*}*/

/*/!* Large Devices, Wide Screens *!/*/
/*@media only screen and (min-width : 1200px) {*/
    /**/
/*}*/
