#editor_page {
    position: relative;
    height: 100%;
}

#editor_page {
    .page-header {
        height: 60px;
        padding: 0;
        position: relative;
    }

    .page-header {
        input.form-control {
            border: 0;
            font-size: 28px;
            height: 54px;
            padding: 10px 220px 10px 16px;
        }

        .editor-controls {
            bottom: 0;
            padding: 12px 16px;
            position: absolute;
            right: 0;
            top: 0;
        }

        .editor-controls {
            .sidebar-toggler {
                color: $subtext;
                display: inline-block;
                float: none;
                margin-right: 15px;
                vertical-align: middle;
            }

            .sidebar-toggler {
                .fa {
                    font-size: 24px;
                    line-height: 1;
                }
            }

            .btn-group {
                #split_button { width: 120px; }
            }

            .btn-group {
                .btn { float: left; }

                .dropdown-menu {
                    .active {
                        a {
                            background-color: $sub-hyperlink;

                            &:hover,
                            &:focus {
                                background-color: $sub-hyperlink;
                            }
                        }
                    }
                }
            }
        }
    }

    .editor {
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 60px;
    }

    .editor {
        .window {
            bottom: 0;
            position: absolute;
            top: 0;
            width: 50%;
        }

        .window {
            .floating-header {
                background-color: $primary-bg-color;
                border-bottom: 1px solid $border-color;
                height: 40px;
                left: 15px;
                padding: 10px 0;
                position: absolute;
                right: 15px;
                top: 0;
                z-index: 100
            }

            .floating-header {
                span {
                    color: $subtext;
                    font-size: 12px;
                    text-transform:uppercase;
                }

                span {
                    i { margin-right: 3px; }
                }
            }
        }

        .window.markdown-editor {
            border-right: 1px solid #e4e4e4;
            left: 0;
        }

        .markdown-editor {
            .markdown-helper {
                color: $subtext;
                font-size: 13px;
                float: right;
                text-decoration: none;
            }

            .editor-wrapper {
                .CodeMirror {
                    bottom: 0;
                    color: #3c4043;
                    height: auto;
                    left: 0;
                    position: absolute;
                    right: 0;
                    top: 0;
                }

                .CodeMirror {
                    .CodeMirror-lines { padding: 60px 0 25px; }
                    pre {
                        font-family: Inconsolata, monospace;
                        font-size: 1.7rem;
                        padding: 0 15px;
                    }
                }
            }
        }

        .window.markdown-preview { right: 0; }
        .markdown-preview {
            .floating-header {
                .word-counter { float: right; }
            }

            .preview-wrapper {
                -moz-hyphens: auto;
                -moz-user-select: none;
                -ms-hyphens: auto;
                -ms-user-select: none;
                -webkit-hyphens: auto;
                -webkit-user-select: none;
                background-color: $primary-bg-color;
                bottom: 0;
                cursor: default;
                font-size: 1.8rem;
                hyphens: auto;
                left: 0;
                line-height: 1.5em;
                overflow: auto;
                padding: 0 15px 0;
                position: absolute;
                right: 0;
                top: 0;
                user-select: none;
                word-break: normal;
                word-wrap: break-word;
            }

            .preview-wrapper {
                .rendered-markdown { padding: 60px 0 40px; }
            }
        }
    }
}
