.featured-image {
    background-color: $secondary-bg-color;
    border: 1px solid $border-color;
    border-radius: $border-radius;
    position: relative;

    .content {
        min-height: 300px;

        .image-preview {

            min-height: 300px;
            text-align: center;
            width: 100%;

            .remove-image {
                position: absolute;
                right: 5px;
                top: 5px;
                z-index: 100;

                i.fa {
                    margin-right: 0 !important;
                }
            }

            img {
                display: inline-block;
                max-width:100%;
                max-height:100%;
                vertical-align: middle;
            }
        }

        .file-upload {
            bottom: 50%;
            left: 0;
            margin: -18px 0;
            position: absolute;
            right: 0;
            text-align: center;
            top: 50%;

            input[type="file"] {
                display: none;
            }

            .loader {
                margin: -10px 0;

                i.fa {
                    color: $sub-hyperlink;
                    font-size: 60px;
                }
            }
        }

        .image-url {
            bottom: 50%;
            left: 0;
            margin: -18px 0;
            padding: 0 30px;
            position: absolute;
            right: 0;
            top: 50%;
        }
    }

    .upload-option {
        a.fa {
            color: $sub-hyperlink;
            bottom: 10px;
            left: 10px;
            position: absolute;
            text-decoration: none;
        }
    }
}
