.featured-image {
    background-color: $secondary-bg-color;
    border: 1px solid $border-color;
    border-radius: $border-radius;
    position: relative;
}

.featured-image {
    .content {
        min-height: 300px;
    }

    .content {
        .image-preview {
            width: 100%;
        }

        .image-preview {
            .remove-image {
                position: absolute;
                right: 5px;
                top: 5px;
            }

            .remove-image {
                i.fa {
                    margin-right: 0px !important;
                }
            }

            img {
                display: block;
                width: 100%;
            }
        }

        .file-upload {
            bottom: 50%;
            left: 0;
            margin: -18px 0;
            position: absolute;
            right: 0;
            text-align: center;
            top: 50%;
        }

        .file-upload {
            input[type="file"] {
                display: none;
            }

            .loader {
                margin: -10px 0;
            }

            .loader {
                i.fa {
                    color: $hyperlink;
                    font-size: 60px;
                }
            }
        }

        .image-url {
            bottom: 50%;
            left: 0;
            margin: -18px 0;
            padding: 0 30px;
            position: absolute;
            right: 0;
            top: 50%;
        }
    }

    .upload-option {

    }

    .upload-option {
        a.fa {
            bottom: 10px;
            left: 10px;
            position: absolute;
            text-decoration: none;
        }
    }
}
