#login_page {
    .page-content {
        height: 100%;
        margin: 0 !important;
        position: relative;
    }

    #login_form {
        background-color: $primary-bg-color;
        border: 1px solid $border-color;
        border-radius: $border-radius;
        left: 50%;
        margin: 0 -200px;
        padding: 14px 30px;
        position: absolute;
        top: 15%;
        width: 380px;
    }

    #login_form {
        h1 {
            color: $subtext;
            font-size: 36px;
            font-weight: bold;
            margin: 20px 0;
            text-align: center;
        }

        .form-group {
            border-bottom: 0;
            margin-bottom: 5px;
            padding-bottom: 10px;
        }

        .form-actions {
            .btn { margin-bottom: 20px; }
            .forgot-password { text-align: center; }
        }
    }
}
