#settings_page {
    .settings {
        .form-wrapper {
            .image-wrapper {
                .btn {
                    i {
                        margin-right: 3px;
                    }
                }

                .open-modal {
                    display: block;
                    padding: 0;
                    width: 100%;
                }

                .open-modal {
                    img {
                        display: block;
                        margin: auto;
                        max-width: 100%;
                    }
                }
            }
        }
    }
}

#upload_image_modal {
    .modal-body {
        padding: 0;
    }

    .modal-body {
        .featured-image {
            border: 0;
            border-radius: 0;
        }
    }
}
