#sidebar {
    .content {
        background-color: #2d393c;
        border-right: 1px solid #4b5254;
        bottom: 0;
        left: 0;
        padding: 0 15px;
        position: absolute;
        top: 0;
        width: 220px;
    }

    .content {
        .sidebar-header {
            border-bottom: 1px solid #404a4d;
            padding: 15px 0 5px;
        }

        .sidebar-header {
            .blog-title {
                margin: 0 0 5px;
                font-size: 24px;
                font-weight: bold;
            }

            .blog-title {
                a {
                    color: #ffffff;
                    text-decoration: none;
                }
            }

            .user-name {
                color: #aaafb0;
            }
        }

        .sidebar-content {
            padding: 10px 0;
            position: absolute;
            top: 82px;
            bottom: 0;
            right: 0;
            left: 0;
            overflow-y: auto
        }

        .sidebar-content {
            .menu {
                list-style: none;
                margin: 0;
                padding: 0;
            }

            .menu {
                li {
                    .title {
                        color: #ffffff;
                        display: block;
                        font-size: 12px;
                        font-weight: bold;
                        padding: 3px 15px;
                        text-transform: uppercase;
                    }

                    a {
                        border-left: 3px solid #2d393c;
                        color: #aaafb0;
                        display: block;
                        margin: 8px 0;
                        padding: 4px 15px 4px 12px;
                        text-decoration: none;
                    }

                    a {
                        i.fa {
                            float: left;
                            font-size: 18px;
                            margin-right: 10px;
                        }
                    }
                }

                li.active {
                    a {
                        border-left-color: $hyperlink;
                    }
                }

                li.divider {
                    content : "";
                    margin: 15px 0;
                }
            }
        }
    }
}
