#sidebar {
    .content {
        background-color: $sidebar-bg-color;
        border-right: 1px solid $border-color;
        bottom: 0;
        left: 0;
        padding: 0 15px;
        position: absolute;
        top: 0;
        width: 220px;
    }

    .content {
        .sidebar-header {
            border-bottom: 1px solid $border-color;
            padding: 15px 0 5px;
        }

        .sidebar-header {
            .blog-title {
                margin: 0 0 5px;
                font-size: 20px;
            }

            .blog-title {
                a {
                    color: $sub-hyperlink;
                    text-decoration: none;
                }
            }

            .user-name {
                color: $subtext;
            }
        }

        .sidebar-content {
            padding: 10px 0;
            position: absolute;
            top: 77px;
            bottom: 0;
            right: 0;
            left: 0;
            overflow-y: auto
        }

        .sidebar-content {
            .menu {
                list-style: none;
                margin: 0;
                padding: 0;
            }

            .menu {
                li {
                    min-height: 28px;
                }

                li {
                    .title {
                        color: $subtext;
                        display: block;
                        font-size: 12px;
                        font-weight: bold;
                        padding: 3px 15px;
                        text-transform: uppercase;
                    }

                    a {
                        border-left: 3px solid $sidebar-bg-color;
                        color: $text;
                        display: block;
                        line-height: 18px;
                        padding: 5px 0 5px 10px;
                        text-decoration: none;
                    }

                    a {
                        i.fa {
                            float: left;
                            font-size: 18px;
                            margin-right: 10px;
                        }
                    }
                }

                li.active {
                    a {
                        border-left-color: $hyperlink;
                    }
                }

                li.divider {
                    content : "";
                    height: 10px;
                    min-height: 10px;
                }
            }
        }
    }
}
