/**
 * Variables
 */

$border-color: #dbdbdb;
$secondary-border-color: #efefef;

$color-primary: #529ecc;
$color-success: #67c295;
$color-danger: #dc6e53;
$color-info: #63a7d1;
$color-warning: #f3a343;
$color-default: #999999;

$hyperlink: #125688;
$sub-hyperlink: #4090db;
$text: #262626;
$subtext: #a5a7aa;

$primary-bg-color: #ffffff;
$secondary-bg-color: #fafafa;
$sidebar-bg-color: #f5f7f8;

$default-font: "Roboto", sans-serif;
$italic-font: 'Noto Serif', serif;

$border-radius: 3px;
