/* Fonts */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,300);
@import url(http://fonts.googleapis.com/css?family=Droid+Serif);

html, body { height: 100%; }

a {
    background: transparent;
    color: inherit;
    text-decoration: none;
    transition: color ease 0.3s;
}

h1, h2, h3, h4, h5, h6, dl, dd, ol, ul, menu,
figure, blockquote, p, pre { margin: 0; }

h1, h2, h3, h4 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-style: normal;
    letter-spacing: -0.02em;
}

body {
    color: rgba(0,0,0,0.8);
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: -0.02em;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Page Styles */
.site-header {
    background: #ffffff no-repeat center center;
    background-size: cover;
    display: table;
    height: 60%;
    position: relative;
    text-align: center;
    width: 100%;
}

.site-header .align-middle { display: table-cell; vertical-align: middle; }
.site-header .align-middle .header-content {
    margin: 0 auto;
    max-width: 700px;
    position: relative;
    width: 80%;
}

.main-nav { left: 0; padding: 35px 40px; position: absolute; right: 0; top: 0; }
.main-nav a:hover { border-color: rgba(255,255,255,0.8); }
.main-nav a {
    border: transparent 1px solid;
    border-radius: 3px;
    box-sizing: border-box;
    color: #ffffff;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 35px;
    height: 38px;
    padding: 0 15px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    transition: all ease 0.3s;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.main-nav a.subscribe-button { float: right; }
.main-nav a.home-button { float: left; }

.home-template .site-header { height: 100%; }
.home-template .no-cover.site-header { height: 60%; }

.no-cover .main-nav .home-button,
.no-cover .main-nav .subscribe-button { color: rgba(0,0,0,0.6); border: transparent 1px solid; }
.no-cover .main-nav a:hover { background: none; border-color: #bfc8cd; color: rgba(0,0,0,0.6); }

.content {
    border-top: 1px solid rgba(0,0,0,0.15);
    margin: 0 auto;
    max-width: 640px;
    padding-top: 40px;
}

.post-wrapper {
    border-bottom: 1px solid rgba(0,0,0,0.05);
    padding: 20px 0;
}

.post-title { margin-bottom: 8px; font-weight: 300; }
.post-title > a {
    color: rgba(0,0,0,0.8);
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 4px;
    text-decoration: none;
}

.post-title > a:hover { color: #000; }
.post-excerpt {
    display: block;
    margin: 2px 0 0;
    line-height: 1.4;
    font-size: 18px;
    font-weight: 300;
}

.post-excerpt > a { text-decoration: none; }
.post-excerpt > a:hover { color: inherit; }
.post-meta { margin-top: 10px; }
.post-meta .post-meta-inline {
    color: rgba(0,0,0,0.3);
    display: inline-block;
    font-size: 14px;
    line-height: 30px;
    vertical-align: middle;
}

.post-meta .post-meta-inline a { color: rgba(0,0,0,0.3); }
.post-meta .author-meta { line-height: 32px; }
.post-meta .author-meta a { text-decoration: none; }
.post-meta .author-meta .author-name { color: #57ad68; }
.post-meta .tags a:hover { text-decoration: underline; }
.post-meta .tags a:not(:first-child) { margin-left: 5px; }
.post-meta .post-date { margin-left: 10px; }

.footer {
    border-top: #EBF2F6 1px solid;
    color: #BBC7CC;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    line-height: 20px;
    margin: 80px 0 0 0;
    padding: 2px 15px;;
    position: relative;
}

.footer a { color: #BBC7CC; font-weight: bold; text-decoration: none; }
.footer a:hover { color: #50585D; }
.footer .copyright { display: block; float: left; width: 45%; }
.footer .poweredby { display: block; float: right; text-align: right; width: 45%; }

/* Specific Styles */
.hero-title {
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 50px;
    letter-spacing: -0.02em;
    line-height: 1;
    margin-bottom: 8px;
    outline: 0;
    word-break: break-all;
}

.hero-description {
    color: #ffffff;
    font-family: 'Droid Serif', serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400
    letter-spacing: 0.01rem;
    margin: 0 0 10px 0;
    padding: 0;
}

.no-cover .hero-title,
.no-cover .hero-description { color: rgba(0,0,0,0.8); }
