<div id="user_create_page" ng-controller="UserCreateController as ucc">
    <form ng-submit="ucc.createUser()">
        <header class="page-header clearfix">
            <h1 class="page-title">Add new user</h1>
            <button type="submit" class="btn btn-success new-post">
                Create
            </button>
        </header>
        <section class="user-create-content scrollable-content">
            <div class="form-content">
                <div class="form-group">
                    <label class="control-label">Name</label>
                    <input type="text" ng-model="ucc.user.name" class="form-control"
                    placeholder="John Doe"/>
                </div>
                <div class="form-group">
                    <label class="control-label">E-mail</label>
                    <input type="email" ng-model="ucc.user.email" class="form-control"
                    placeholder="johndoe@mail.com"/>
                </div>
                <div class="form-group">
                    <label class="control-label">Password</label>
                    <input type="password" ng-model="ucc.user.password" class="form-control"
                    placeholder="******"/>
                </div>
                <div class="form-group">
                    <label class="control-label">Role</label>
                    <select ng-model="ucc.user.role" class="form-control">
                        <option value="" selected>-- Select... --</option>
                    </select>
                </div>
            </div>
        </section>
    </form>
</div>