<div ng-controller="HeaderController as hc">
    <nav id="header" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Journal</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="site-directory nav navbar-nav navbar-left">
                    <li><a ui-sref="post.lists">Posts</a></li>
                    <li><a ui-sref="user.lists">Users</a></li>
                    <li><a ui-sref="settings">Settings</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li dropdown>
                        <a dropdown-toggle>
                            <i class="fa fa-plus"></i>
                            Add New <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a ui-sref="editor">Post</a></li>
                            <!--<li><a>Media</a></li>-->
                            <li><a ui-sref="user.create">User</a></li>
                        </ul>
                    </li>
                    <li dropdown>
                        <a dropdown-toggle>
                            {{hc.user.name}} ({{hc.user.email}}) <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a ng-click="hc.logout()">Log out</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
