/* Header */
#header { background-color: rgba(255, 255, 255, 0.95); box-shadow: 0 1px 2px rgba(0,0,0,0.05); }
#header .navbar-brand { font-size: 20px; font-weight: 700; }
#header .navbar-toggle { display: none; }
#header .page-header-title {
    color: #333332;
    display: none;
    font-size: 20px;
    line-height: 20px;
    margin: 0;
    padding: 15px;
}

#header .navbar-collapse .nav li a { font-size: 14px; }
#header .navbar-collapse .nav.site-directory li a {
    border-bottom: 2px solid #fff;
    padding: 15px 10px 13px;
}

#header .navbar-collapse .nav.site-directory li.active a {
    background: none;
    border-bottom: 2px rgba(0,0,0,0.8) solid;
}

#header .navbar-collapse .navbar-nav li.add-actions a i.fa { margin-right: 5px; }
