#user_profile_page.main-container { padding-top: 0; }

#user_profile_page .display { display: block; font-size: 16px; padding: 10px 0 0; }
#user_profile_page .display .fa { color: #555555; font-size: 18px; margin-right: 5px; }

#user_profile_page .form-control,
#user_profile_page .help-block,
#user_profile_page .form-action { display: none; }

#user_profile_page.active .display { display: none; }
#user_profile_page.active .form-control,
#user_profile_page.active .help-block,
#user_profile_page.active .form-action{ display: block; }

#user_profile_page .profile-header {
    width: auto;
    height: 400px;
    margin: 0;
    background: #fafafa no-repeat center center;
    background-size: cover;
    overflow: hidden;
}

#user_profile_page .profile-header .profile-nav {
    position: absolute;
    top: 65px;
    right: 0;
    left: 0;
    padding: 0 15px;
}

#user_profile_page .profile-header .profile-nav a.btn {}
#user_profile_page .profile-header .profile-nav .back-to-users { float: left; }
#user_profile_page .profile-header .profile-nav .change-cover { display: none; float: right; }

#user_profile_page.active .profile-header .profile-nav .change-cover { display: inline-block; }

#user_profile_page .profile-header .profile-nav a.btn .fa { margin-right: 5px; }

#user_profile_page .profile-content {
    margin: auto;
    padding-top: 40px;
    position: relative;
    width: 40%;
}

#user_profile_page .profile-content .avatar-wrapper {
    border: 3px solid #ddd;
    border-radius: 50%;
    cursor: pointer;
    height: 150px;
    left: 50%;
    margin-left: -75px;
    overflow: hidden;
    position: absolute;
    top: -78px;
    width: 150px;
}

#user_profile_page .profile-content .avatar-wrapper .avatar {
    display: block;
    object-fit: cover;
    width: 100%;
}

#user_profile_page .profile-content .avatar-wrapper .overlay {
    background: rgba(0,0,0,.6);
    border-radius: 50%;
    bottom: 0;
    left: 0;
    opacity:0;
    padding: 60px 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    transition:opacity 0.3s linear;
}

#user_profile_page .profile-content .avatar-wrapper .text { color: #fff; }
#user_profile_page.active .profile-content .avatar-wrapper:hover .overlay { opacity:1; }

#user_profile_page .profile-content .user-profile-form { padding-top: 40px; }
#user_profile_page .profile-content .name {
    border-bottom: none;
    margin-bottom: 5px;
    padding-bottom: 0;
}

#user_profile_page .profile-content .name input,
#user_profile_page .profile-content .name h1 {
    font-size: 40px;
    font-weight: bold;
    height: 60px;
    letter-spacing: -1px;
    padding-top: 0;
    text-align: center;
}

#user_profile_page .profile-content .biography {
    border-bottom: none;
    margin-bottom: 15px;
    padding-bottom: 0;
}

#user_profile_page .profile-content .biography textarea { resize: none; text-align: center; }
