#post_lists_page .page-header { border-bottom: 0; margin: 0; padding: 10px 20px 0 20px; }
#post_lists_page .page-header .hero-title { float: left; }
#post_lists_page .page-header .btn {  }
#post_lists_page .content-wrapper {
    -webkit-overflow-scrolling: touch;
    background: #fff;
    border-top: 1px solid #f6f6f6;
    bottom: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    right: 0;
    top: 115px;
}
#post_lists_page .content-wrapper .list-of-posts {
    background: #fff;
    border-right: #f6f6f6 1px solid;
    bottom: 0;
    left: 0;
    padding: 15px;
    position: absolute;
    top: 0;
    width: 33%;
}
.list-of-posts .post-lists-stream {
    bottom: 0;
    left: 0;
    overflow: auto;
    padding-top: 40px;
    position: absolute;
    right: 0;
    top: 0;
}
.list-of-posts .post-lists-stream .post-wrapper { margin: 0; padding: 0; position: relative; }
.list-of-posts .post-lists-stream .post-wrapper.active {
    background: #f6f6f7;
    box-shadow: #e8eaeb 0 0 0,rgba(0,0,0,0.06) 7px 0 0 inset,#e8eaeb 1px 0 0 inset;
}
.post-lists-stream .post-wrapper .post-hyperlink { display: block; padding: 10px 20px; }
.post-lists-stream .post-wrapper .post-hyperlink .post-title {
    color: rgba(0,0,0,0.8);
    font-size: 18px;
    font-weight: normal;
    line-height: 24px;
    margin: 0 0 5px;
}
#post_lists_page .content-wrapper .post-preview-wrapper {
    background: #fff;
    bottom: 0;
    padding: 15px;
    position: absolute;
    right: 0;
    top: 0;
    width: 67%;
}
.post-preview-wrapper .post-wrapper { display: none; }
.post-preview-wrapper .post-wrapper.active { display: block; }
.post-preview-wrapper .post-wrapper .floating-header { text-transform: none; }
.post-preview-wrapper .post-wrapper .floating-header .header-title { float: left; }
.post-preview-wrapper .post-wrapper .floating-header .post-controls { float: right; }
.post-preview-wrapper .post-wrapper .floating-header .post-controls .dropdown a { color: #aaa9a2; font-size: 18px; }
.post-preview-wrapper .post-wrapper .floating-header .post-controls .dropdown ul li a {
    color: #333;
    font-size: 14px;
}
.post-preview-wrapper .post-wrapper .preview-wrapper {
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    bottom: 0;
    hyphens: auto;
    left: 0;
    overflow: auto;
    padding: 60px 7%;
    position: absolute;
    right: 0;
    top: 0;
    word-wrap: break-word;
    word-break: normal;
}
.post-preview-wrapper .post-wrapper .preview-wrapper .rendered-markdown {
    font-size: 1.8rem;
    line-height: 1.5em;
}
.post-preview-wrapper .post-wrapper .preview-wrapper .rendered-markdown img {
    border: 0;
    max-width: 100%;
}
.post-preview-wrapper .post-wrapper .preview-wrapper .rendered-markdown code { white-space: normal; }
.post-preview-wrapper .post-wrapper .preview-wrapper .rendered-markdown em { font-family: 'Noto Serif', serif; font-size: 16px; }
