#editor_sidebar {
    .sidebar-overlay {
        display: none;
    }

    .editor-content {
        background-color: $sidebar-bg-color;
        border-left: 1px solid $border-color;
        bottom: 0;
        padding: 0 15px;
        position: absolute;
        right: -100%;
        top: 0;
        transition: all 0.4s ease 0s;
        width: 300px;
        z-index: 500;

        .sidebar-header {
            border-bottom: 1px solid $border-color; padding: 14px 0;

            h3 {
                float: left;
                margin: 0;
            }

            .close-sidebar {
                font-size: 24px;
                float: right;
            }
        }

        .post-settings {
            bottom: 0;
            left: 0;
            overflow-x: hidden;
            overflow-y: auto;
            padding: 15px;
            position: absolute;
            right: 0;
            top: 55px;

            .view-post {
                float: right;
            }

            .featured-image {
                .content {
                    height: 180px;

                    .image-preview {
                        height: 180px;
                        line-height: 180px;
                    }

                    .image-url {
                        padding: 0 10px;
                    }
                }
            }

            .delete-post-zone {
                margin: 0;
                padding: 0 0 15px;

                .message {
                    text-align: center;
                    font-weight: bold;
                }
            }
        }
    }
}

#editor_sidebar.active {
    .sidebar-overlay {
        bottom: 0;
        display: block;
        left: -220px;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 300;
    }

    .editor-content {
        right: 0;
    }
}
