/* Google Font */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
@import url(http://fonts.googleapis.com/css?family=Noto+Serif:400,400italic);

/* Initial styling */
body {
    background-color: #ffffff;
    color: rgba(0,0,0,0.8);
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.02em;
    overflow-x: hidden;
}

body, html { height: 100%; }
h1, h2, h3, h4, h5, h6 {
    color: #242628;
    font-weight: 700;
    line-height: 1.15em;
    margin: 0 0 15px 0;
    text-rendering: optimizeLegibility;
}

h1 { font-size: 5rem; letter-spacing: -2px; text-indent: -3px; }
h2 { font-size: 4.2rem; letter-spacing: -1px; }
h3 { font-size: 3.8rem; }
h4 { font-size: 3.1rem; }
h5 { font-size: 2.8rem; }
h6 { font-size: 2.2rem; }

a { -webkit-transition: color ease .3s; outline: none; transition: color ease .3s; }
a:hover, a:active, a:focus { outline: none; text-decoration: none; }

i.fa { margin-right: 5px; }

textarea, input, select { border: 0; }

/* Custom Styling starts now! */
/* Global Styles */
.main-container {
    -moz-transition: -moz-transform 150ms cubic-bezier(.2, .3, .25, .9);
    -o-transition: -o-transform 150ms cubic-bezier(.2, .3, .25, .9);
    -webkit-transition: -webkit-transform 150ms cubic-bezier(.2, .3, .25, .9);
    background: #fff;
    height: 100%;
    padding: 55px 0 0;
    transition: transform 150ms cubic-bezier(.2, .3, .25, .9);
}

body.transition-sidebar .main-container {
    -moz-transform: translate3d(280px, 0, 0);
    -moz-transition-duration: 250ms;
    -ms-transform: translate3d(280px, 0, 0);
    -o-transform: translate3d(280px, 0, 0);
    -o-transition-duration: 250ms;
    -webkit-transform: translate3d(280px, 0, 0);
    -webkit-transition-duration: 250ms;
    transform: translate3d(280px, 0, 0);
    transition-duration: 250ms;
    z-index: 800;
}

body.opened-editor-sidebar .main-container {
    -moz-transform: translate3d(-280px, 0, 0);
    -moz-transition-duration: 250ms;
    -ms-transform: translate3d(-280px, 0, 0);
    -o-transform: translate3d(-280px, 0, 0);
    -o-transition-duration: 250ms;
    -webkit-transform: translate3d(-280px, 0, 0);
    -webkit-transition-duration: 250ms;
    transform: translate3d(-280px, 0, 0);
    transition-duration: 250ms;
    z-index: 800;
}

.hero-title {
    color: rgba(0, 0, 0, 0.8);
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -0.04em;
    line-height: 1;
    margin: 0 0 30px;
    outline: 0;
    word-break: break-all;
}

.floating-header {
    background: -webkit-linear-gradient(top, white 0%, white 25%, rgba(255, 255, 255, 0.9) 100%);
    background: linear-gradient(to bottom, white 0%, white 25%, rgba(255, 255, 255, 0.9) 100%);
    color: #aaa9a2;
    font-size: 12px;
    height: 40px;
    left: 0;
    padding: 10px 20px;
    position: absolute;
    right: 0;
    text-transform: uppercase;
    top: 0;
    z-index: 400;
}

.main-content { height: 100%; }
.main-content.centered { margin: auto; width: 50%; }
.main-content.centered .hero-title { text-align: center; }

/* Header */
.admin-header { background-color: rgba(255, 255, 255, 0.95); box-shadow: 0 1px 2px rgba(0,0,0,0.05); }
.admin-header .navbar-brand { font-size: 20px; font-weight: 700; }
.admin-header .navbar-toggle { display: none; }
.admin-header .page-header-title {
    color: #333332;
    display: none;
    font-size: 20px;
    line-height: 20px;
    margin: 0;
    padding: 15px;
}

.admin-header .navbar-collapse .nav li a { font-size: 14px; }

/* Sidebar */
.sidebar {
    background-color: #191918;
    bottom: 0;
    left: 0;
    outline: none;
    position: absolute;
    top: 0;
}

.sidebar .scrollable-content {
    -khtml-opacity: .66;
    -moz-opacity: .66;
    -moz-transform: translateX(-20px);
    -moz-transition: -moz-transform 200ms,opacity 200ms;
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
    -o-transition: -o-transform 200ms,opacity 200ms;
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translateX(-20px);
    -webkit-transition: -webkit-transform 200ms,opacity 200ms;
    display: none;
    filter: alpha(opacity=66);
    height: 100%;
    opacity: .66;
    overflow: auto;
    transform: translateX(-20px);
    transition: transform 200ms, opacity 200ms;
}

.sidebar .scrollable-content .menu-lists { list-style: none; margin: 20px 0 0; padding: 0; }
.sidebar .scrollable-content .menu-lists li { position: relative; }
.sidebar .scrollable-content .menu-lists li a {
    background: rgba(0,0,0,0);
    border: 0;
    color: rgba(255,255,255,0.65);
    display: block;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    height: 48px;
    letter-spacing: -0.02em;
    line-height: 46px;
    padding: 0 16px 0 32px;
    text-align: left;
}

.sidebar .scrollable-content .menu-lists li a:hover { color: #ffffff; }
.sidebar .scrollable-content .menu-lists li a i { margin-right: 10px; }

.sidebar .scrollable-content .menu-lists li.blog-page { display: none; }
.sidebar .scrollable-content .menu-lists li.blog-page a { font-weight: bold; }

.sidebar .scrollable-content .user-menu {
    border-bottom: medium none;
    bottom: 0px;
    display: none;
    height: auto;
    left: 0px;
    padding: 15px;
    position: absolute;
    right: 0px;
    top: auto;
}

.sidebar .scrollable-content .user-menu .user-details {
    color: rgba(255,255,255,0.65);
    display: block;
}

.sidebar .scrollable-content .user-menu .user-details .user-name {
    font-size: 14px;
    margin: 0;
    padding: 0;
}
.sidebar .scrollable-content .user-menu .user-details .menu-label { font-size: 12px; }
.sidebar .scrollable-content .user-menu .dropdown-menu { width: 250px; }

/* Sidebar Helpers */
.sidebar-overlay {
    bottom: 0;
    display: none;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 600;
}

body.transition-sidebar,
body.opened-editor-sidebar { overflow: hidden; height: 100%; }

body.transition-sidebar .sidebar,
body.opened-editor-sidebar .editor-sidebar { position: fixed; z-index: auto; }

body.transition-sidebar .sidebar .scrollable-content,
body.opened-editor-sidebar .editor-sidebar .editor-sidebar-content {
    -khtml-opacity: 1;
    -moz-opacity: 1;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    -webkit-transform: none;
    display: block;
    filter: alpha(opacity=100);
    opacity: 1;
    transform: none;
    width: 280px;
}
