/* Modal */
.modal { background-color: rgba(255,255,255, .95); position: absolute; }
.modal-dialog {
	display: table;
	height: 90%;
	margin: 0 auto;
	padding: 0;
}

.modal-content {
	-webkit-box-shadow: none;
	background-color: rgba(255,255,255, 0);
	border-radius: 0;
	border: none;
	box-shadow: none;
	display: table-cell;
	margin: auto;
	min-width: 300px;
	vertical-align: middle;
}

.modal-header, .modal-body, .modal-footer { border: 0; text-align: center; }
.fade { background-color: rgba(255,255,255, .95); }
