/* Notifications plugin */
.notifications {
    position: fixed;
    width: 300px;
    z-index: 1000;
}

.modal-open .notifications { z-index: 15000; }

.notifications.top-right { right: 10px; top: 55px; }
.notifications > div { margin: 5px 0; position: relative; z-index: 9999; }

.notifications > .alert { color: rgba(255,255,255,0.9); }

.notifications > .alert.alert-danger { background: #e25440; border-color: #e25440; }
.notifications > .alert.alert-success { background: #9fbb58; border-color: #9fbb58;}
.notifications > .alert-alert-warning { background: #f2a925; border-color: #f2a925; }

.notifications > .alert > .close { color: #ffffff; opacity: 1; }
