/* CSS framework overrides goes in here */
/* Form elements */
/*form.form-contents { margin: auto; padding: 15px; width: 50%; }*/
.form-action { margin-top: 20px; padding-bottom: 20px; text-align: center; }
.form-group {
    border-bottom: 1px solid #f6f6f6;
    margin-bottom: 25px;
    padding-bottom: 15px;
}

label.control-label { font-size: 18px; margin: 0; }

.form-control { color: rgba(0,0,0,0.8); font-size: 16px; height: 30px; padding: 0; }
.form-control, .form-control:focus {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border-color: transparent;
    border-radius: 0;
    box-shadow: none;
}

.form-control.input-lg {
    font-size: 32px;
    font-weight: bold;
    height: 46px;
    line-height: 1.33;
}

.has-error .form-control,
.has-error .form-control:focus {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border-color: transparent;
    box-shadow: none;
}

textarea.form-control { resize: none; }
.help-block { font-size: 13px; margin-top: 0; }

.btn { border-radius: 20px; padding: 10px 20px; }
.btn.btn-default { color: rgba(0,0,0,0.6); }
.btn.btn-xs { border-radius: 10px; padding: 1px 8px; }

.btn > i { margin: 0; }

.btn-primary { border-color: #337ab7; }
.btn-success { border-color: #5cb85c; }
/* End of form elements */

.page-header { border: 0; margin: 0; padding: 0 20px; }

.alert { border-radius: 0; }

/* Header */
.admin-header .navbar-collapse .nav li.site-directory a {
    border-bottom: 2px solid #fff;
    padding: 15px 10px 13px;
}

.admin-header .navbar-collapse .nav li.active.site-directory a {
    background: #fff;
    border-bottom: 2px rgba(0,0,0,0.8) solid;
}
/* End of Header Styling */
