#delete_post_modal {}
#delete_post_modal .modal-body { padding: 30px 15px; }
#delete_post_modal .modal-body p {
    font-size: 16px;
    margin: 0;
    text-align: center;
}

#delete_post_modal .modal-body p .post-title { font-weight: bold; }
#delete_post_modal .modal-body p .post-title:after { content: '"'; }
#delete_post_modal .modal-body p .post-title:before { content: '"'; }

.modal-delete-post { width: 500px; }
