<div id="sidebar">
    <aside class="content">
        <header class="sidebar-header">
            <h1 class="blog-title">
                <a href="/" target="_blank">{{sd.sidebar.title}}</a>
            </h1>
            <p class="user-name">{{sd.sidebar.user.name}}</p>
        </header>
        <section class="sidebar-content">
            <ul class="menu-lists">
                <li class="header">Create new...</li>
                <li>
                    <a ui-sref="editor">
                        <i class="fa fa-plus-circle fa-fw"></i> Post
                    </a>
                </li>
                <li style="display: none;">
                    <a ui-sref="user.create">
                        <i class="fa fa-user-plus fa-fw"></i> User
                    </a>
                </li>
                <li class="header">
                    Menu
                </li>
                <li>
                    <a ui-sref="post.lists">
                        <i class="fa fa-list fa-fw"></i> Posts
                    </a>
                </li>
                <li>
                    <a ui-sref="user.lists">
                        <i class="fa fa-users fa-fw"></i> Users
                    </a>
                </li>
                <li class="header">Settings</li>
                <li>
                    <a ui-sref="settings.general">
                        <i class="fa fa-cog fa-fw"></i> General
                    </a>
                </li>
                <li>
                    <a>
                        <i class="fa fa-rocket fa-fw"></i> Services
                    </a>
                </li>
                <li class="header">Account</li>
                <li>
                    <a ui-sref="user.profile({ userId : sd.sidebar.user.id })">
                        <i class="fa fa-user fa-fw"></i> Edit Profile
                    </a>
                </li>
                <li>
                    <a>
                        <i class="fa fa-unlock fa-fw"></i> Change Password
                    </a>
                </li>
                <li>
                    <a ng-click="sd.logout()">
                        <i class="fa fa-power-off fa-fw"></i> Log out
                    </a>
                </li>
            </ul>
        </section>
    </aside>
</div>
